<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Sticklr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href="main.65be108c8e445df18975.css" rel="stylesheet"></head>
  <body ng-controller="AppCtrl as vm">
    <section class="app-content">
      <section class="photo-area">
        <stk-file-input
            ng-if="!vm.photo"
            on-file-loaded="vm.changePhoto(dataURI)"
            on-load-error="vm.error(msg)">
          Select Photo
        </stk-file-input>

        <button
            class="stk-restart"
            ng-if="vm.photo"
            ng-click="vm.reset()">
          Restart
        </button>

        <stk-collage
            stuckers="vm.stuckers"
            background="vm.photo"
            stk-drop-target on-drop="vm.stick(location, data)">
        </stk-collage>
      </section>

      <section class="sticker-library">
        <stk-sticker-upload-form
            on-sticker-created="vm.addSticker(sticker)">
        </stk-sticker-upload-form>
        <stk-media-list
            media="vm.stickers"
            thumb-src="medium.dataURI"
            title="medium.title">
        </stk-media-list>
      </section>

    </section>
  <script src="vendor.bundle.js"></script><script src="main.65be108c8e445df18975.js"></script></body>
</html>
