<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Sticklr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>
  <body ng-controller="AppCtrl as vm">
    <header class="app-header">
      <h1 class="app-header-title">Sticklr</h1>
    </header>
    <section class="app-content">
      <section class="photo-area">
        <h2>Photo</h2>

        <stk-file-input
            ng-if="!vm.currentPhoto()"
            on-file-loaded="vm.preview(dataURI);">
          Select Photo
        </stk-file-input>
        <button
            class="stk-restart"
            ng-if="vm.currentPhoto()"
            ng-click="vm.restart()">
          Restart
        </button>

        <stk-photo src="{{vm.currentPhoto() || ''}}"></stk-photo>
      </section>

      <section class="sticker-library">
        <h2>Stickers</h2>
        <stk-file-input
            on-file-loaded="vm.addSticker(dataURI);">
          Add Sticker
        </stk-file-input>
        <stk-media-list media="vm.allStickers()"></stk-media-list>
      </section>

    </section>
  </body>
</html>
